@model List<FreeDocs.Models.Documents>
@{
    ViewBag.Title = "3Docs - Все документы и шаблоны в одном месте";
}
<div class="col-12 col-md-12 col-lg-12">
    <p>Поиск документов:</p>
    <input type="search" name="search" value="" />
</div>
<div class="col-12 col-md-12 col-lg-12">
    @foreach(var doc in Model)
    {
        <p>Документ: @doc.Name</p>
        <p>Описание: @doc.Description</p>
        <p>Дата загрузки: @doc.Date</p>
        <p>Тип документа: @doc.Type</p>
        <a href="~/@doc.Path@doc.Name">Скачать</a>
    }
</div>